
/* variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-grey: #ebebeb;
  --special-grey-light: #d9d9d9;
  --special-grey-lighter: rgba(238, 238, 238, 0.7);

  --input-placeholder: #b3b3b3;
  --input-placeholder-hover: #666666;

  --special-white-a7: rgba(255, 255, 255, 0.7);
  --special-white-a3: rgba(255, 255, 255, 0.3);

  --special-black-a6: rgba(0, 0, 0, 0.6);
  --special-black-a5: rgba(0, 0, 0, 0.5);
  --special-black-a3: rgba(0, 0, 0, 0.3);
  --special-black-a2: rgba(0, 0, 0, 0.2);
  --special-black-a1: rgba(0, 0, 0, 0.1);
}


/* fonts */
@font-face {
  font-family: "Gilroy";
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: local("gilroylight"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2"),
      url("../fonts/opensanslight.woff");
  font-style: normal;
  font-weight: 300;
}


/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  padding: 0;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.headline {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.more-btn {
  display: block;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.more-btn:active {
  color: var(--special-black-a6);
}

.more-btn::before {
  content: " ";
  height: 8px;
  width: 100%;
  background-color: var(--special-yellow-dark);
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
}

.more-btn:hover::before {
  height: 40px;
  top: 0;
}


/* header */
.header {
  background-image: linear-gradient(var(--basic-white) 5%, var(--special-yellow) 5%, var(--special-yellow) 95%, var(--basic-white) 95%);
}


/* search */
.search {
  max-width: 440px;
  margin-left: 60px;
  position: relative;
}

.search:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search__input {
  width: 355px;
  height: 50px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;

  font-size: inherit;
  color: var(--input-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

.search__input[type="search"]::-webkit-search-decoration {
  display: none;
}

.search__input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search__input:hover::placeholder{
  color: var(--input-placeholder-hover);
}

.search__input:focus {
  height: 50px;
  color: var(--basic-black);
  outline: 0;
}

.search__input:focus + .search__button {
  visibility: visible;
}

.search__button:focus {
  visibility: visible;
}

.search__button:active {
  visibility: visible;
}

.search__button {
  visibility: hidden;
  width: 84px;
  height: 50px;
  position: absolute;
  right: 0;
  font-size: inherit;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
}

.search__button:focus {
  color: var(--basic-black);
  background-color: transparent;
  transition: visibility 0s ease 50ms;
  outline: 0;
  border: 2px solid var(--basic-black);
  border-bottom: none;
}

.search__button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search__button:active {
  color: var(--special-white-a3);
  background-color: var(--basic-black);
}


/* user */
.user {
  list-style: none;
  padding-left: 0;
}

.user__link {
  line-height: 20px;
}

.user__link:visited {
  color: var(--basic-black);
}

.user__link:hover {
  color: var(--special-black-a6);
}

.user__link:active {
  color: var(--special-black-a3);
}

.user__link--logout {
  color: var(--special-black-a3);
}

/* site-function */
.site-function {
  list-style: none;
  padding-left: 0;
}

.site-function__link {
  line-height: 20px;
}

.site-function__link:visited {
  color: var(--basic-black);
}

.site-function__link:hover {
  color: var(--special-black-a6);
}

.site-function__link:active {
  color: var(--special-black-a3);
}


/* menu */
.menu {
  list-style: none;
  padding-left: 0;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.menu__link--open::after {
  content: url("../img/icon_plus.svg");
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 12px;
  margin-left: 16px;
}

/* catalog-menu*/
.catalog-menu {
  list-style: none;
  padding-left: 0;
}

.catalog-menu__link {
  line-height: 20px;
}

.catalog-menu__link {
  color: var(--basic-black);
}

.catalog-menu__link:hover {
  color: var(--special-black-a6);
}

.catalog-menu__link:active {
  color: var(--special-black-a3);
}


/* promo */
/* slider */
.slider__list {
  list-style: none;
  padding-left: 0;
}

.slider__title {
  font-size: 47px;
  line-height: 58px;
}

.slider__link {
  width: 220px;
}

.toggle__item {
  display: inline-block;
  line-height: 12px;
}

.toggle__button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-size: cover;
}

.toggle__button--checked::before {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

/* toggle*/
.toggle {
  list-style: none;
  padding-left: 0;
}

/* item-desc */
.item-desc {
  letter-spacing: 0.1em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.item-desc__value {
  font-size: 36px;
  line-height: 42px;
}

.item-desc__feature {
  font-size: 13px;
  line-height: 15px;
}

/* popular */
.popular__list {
  list-style: none;
  padding-left: 0;
}

.popular__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.popular__link::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
}

.popular__link:hover::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-dark);
}


/* service */
.service__list {
  list-style: none;
  padding-left: 0;
}

.service__button {
  background-color: transparent;
  border: none;
  width: 160px;
  position: relative;
  padding-bottom: 0;
}

.service__button:active {
  color: var(--special-yellow);
}

.service__button::before {
  top: 50%;
}

.service__button:active::before {
  content: " ";
  width: 277px;
  background-color: var(--basic-black);
}

.service__description-headline {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service__description-text {
  letter-spacing: 0.1em;
}


/* logotypes */
.logotypes__list {
  list-style: none;
  padding-left: 0;
}

.logotypes__image {
  filter: grayscale(100%) opacity(15%);
}

.logotypes__image:hover {
  filter: grayscale(0) opacity(100%);
}


/* about */
.about__title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about__partner-list {
  list-style: none;
}

.about__partner-item {
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.about__more {
  width: 260px;
}

/* contacts */
.contacts__title {
  letter-spacing: 0.2em;
}

.contacts__more {
  width: 260px;
}


/* footer */
.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer__menu .menu__link {
  color: var(--basic-white);
}


.footer__menu .menu__link:visited {
  color: var(--basic-white);
}

.footer__user .user__link {
  color: var(--special-white-a7);
}

.footer__user .user__link:visited {
  color: var(--special-white-a7);
}

.footer__site-function .site-function__link {
  color: var(--special-white-a7);
}

.footer__site-function .site-function__link:visited {
  color: var(--special-white-a7);
}


.footer__copyright:hover {
  opacity: 0.6;
}

.footer__copyright:active {
  opacity: 0.3;
}

/* social */
.social {
  list-style: none;
  padding: 0;
}

.social__link:hover {
  opacity: 0.3;
}

.social__link:active {
  opacity: 0.1;
}

/* =catalog= */
.catalog-main__title {
  font-size: 47px;
  line-height: 58px;
}

/* breadcrumbs */
.breadcrumbs {
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.breadcrumbs__link {
  color: var(--special-black-a3);
}

.breadcrumbs__link[href]:hover {
  color: var(--special-black-a6);
}

.breadcrumbs__link[href]:active {
  color: var(--special-black-a1);
}


/* form */
.form__title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


/* filter */
.filter__submit {
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 14px;
}


/* sorting__list */
.sorting__list {
  list-style: none;
}

.sorting__link {
  font-family: "Opens Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--special-black-a3);
}

.sorting__link[href]:hover {
  color: var(--special-black-a6);
}

.sorting__link:active {
  color: var(--basic-black);
}

.sorting__link:focus {
  color: var(--basic-black);
}

.sorting__link--current {
  color: var(--basic-black);
}


/* sorting__arrows*/
.sorting__arrows {
  list-style: none;
}

.sorting__arrow-link {
  opacity: 0.2;
}

.sorting__arrow-link:hover {
  opacity: 0.4;
}

.sorting__arrow-link:active {
  opacity: 1;
}

.sorting__arrow-link:focus {
  opacity: 1;
}

.sorting__arrow-link--up::before{
  content: url("");
  width: 10px;
  height: 10px;
}

.sorting__arrow-link--down::before{
  content: url("");
  width: 10px;
  height: 10px;
}

.sorting__arrow-link--active {
  opacity: 1;
}

/* catalog__products */
.catalog__products {
  list-style: none;
  padding-left: 0;
}

.product {
  display: block;
  width: 360px;
  height: 380px;
  position: relative;
  margin-right: 0;
  margin-bottom: 120px;
}

.product:hover::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--special-grey-lighter);
}

.product__buttons-container {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 180px;
  margin-left: 55px;
  z-index: 1;
  text-align: center;
}

.product:hover > .product__buttons-container {
  visibility: visible;
}


.product__link {
  color: var(--basic-black);
}

.product__link--move-to-cart {
  width: 220px;
 }

.product__link--move-to-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--special-black-a5);
}

.product__link--move-to-compare:hover {
  color: var(--basic-black);
}

.product__link--move-to-compare:active {
  color: var(--special-black-a2);
}

.product__title {
  font-size: 18px;
  line-height: 22px ;
  letter-spacing: 0.05em;
}


.product__price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}


/* pagination */
.pagination {
  list-style: none;
  padding-left: 0;
  min-height: 70px;
  max-width: 760px;
  background-color: var(--special-grey);
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  display: inline-block;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:0.1em;
  text-transform: uppercase;
  color: var(--special-black-a3);
 }

.pagination__link[href]:not(.pagination__link--next):hover{
  color: var(--special-black-a6);
}

.pagination__link:active{
  color: var(--basic-black);
}

.pagination__link--current {
  color: var(--basic-black);
}

.pagination__link--prev {
  padding: 25px 30px;
  color: var(--basic-black);
}

.pagination__link--prev:hover {
  background-color: var(--special-grey-light);
}

.pagination__link--prev:active {
  color: var(--special-black-a3);
}

.pagination__link--next {
  padding: 25px 30px;
  color: var(--basic-black);
}

.pagination__link--next:hover {
  background-color: var(--special-grey-light);
  color: var(--basic-black);
}

.pagination__link--next:active {
  color: var(--special-black-a3);
}
