
/* variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-grey-dark: #dcdcdc;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-grey: #ebebeb;
  --special-grey-light: #d9d9d9;
  --special-grey-lighter: rgba(238, 238, 238, 0.7);

  --input-placeholder: #b3b3b3;
  --input-placeholder-hover: #666666;

  --special-white-a7: rgba(255, 255, 255, 0.7);
  --special-white-a6: rgba(255, 255, 255, 0.6);
  --special-white-a3: rgba(255, 255, 255, 0.3);

  --special-black-a6: rgba(0, 0, 0, 0.6);
  --special-black-a5: rgba(0, 0, 0, 0.5);
  --special-black-a3: rgba(0, 0, 0, 0.3);
  --special-black-a2: rgba(0, 0, 0, 0.2);
  --special-black-a1: rgba(0, 0, 0, 0.1);
}


/* fonts */
@font-face {
  font-family: "Gilroy";
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: local("gilroylight"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2"),
      url("../fonts/opensanslight.woff");
  font-style: normal;
  font-weight: 300;
}


/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1160px;
  min-height: 100%;
  padding: 0;
  background-color: var(--basic-white);

  font-size: 15px;
  line-height: 30px;
  color: var(--basic-black);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* */
.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.headline {
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.more-btn {
  position: relative;

  display: block;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

}

.more-btn:active {
  color: var(--special-black-a6);
}

.more-btn::before {
  content: " ";
  height: 8px;
  width: 100%;
  background-color: var(--special-yellow-dark);

  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
}

.more-btn:hover::before {
  height: 40px;
  top: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* =index-page=*/
.index-page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
/* header */
.header {
  height: 206px;
}

.header--catalog-page {

}

.header__nav {
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(var(--basic-white) 20px, var(--special-yellow) 20px, var(--special-yellow) 320px);
}


/* nav */
.nav {
  display: grid;
  grid-template-columns: 540px repeat(2, 1fr);
  grid-template-rows: 55px 50px 1fr;
  gap: 5px 0;
  grid-template-areas:
    "nav__logo . ."
    "nav__search nav__user nav__site-function"
    "nav__menu nav__menu nav__menu";

}

.nav__logo {
  grid-area: nav__logo;
}

.nav__search {
  grid-area: nav__search;
}

.nav__user {
  grid-area: nav__user;
}

.nav__site-function {
  grid-area: nav__site-function;
  justify-self: end;
}

.nav__menu {
  grid-area: nav__menu;
  padding-top: 15px;
}

/* logo */
.logo {
  height: 35px;
}


/* search */
.search {
  position: relative;

  max-width: 440px;
  height: 20px;
  margin-left: 35px;
}

.search:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search__input {
  width: 355px;
  height: 20px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;

  font-size: inherit;
  color: var(--input-placeholder);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

.search__input[type="search"]::-webkit-search-decoration {
  display: none;
}

.search__input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search__input:hover::placeholder{
  color: var(--input-placeholder-hover);
}

.search__input:focus {
  height: 50px;
  color: var(--basic-black);
  outline: 0;
}

.search__input:focus + .search__button {
  visibility: visible;
  border: 1px solid var(--basic-black);
}

.search__button:focus {
  visibility: visible;
}

.search__button:active {
  visibility: visible;
}

.search__button {
  visibility: hidden;
  width: 84px;
  height: 50px;
  position: absolute;
  right: 0;
  font-size: inherit;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
}

.search__button:focus {
  color: var(--basic-black);
  background-color: transparent;
  transition: visibility 0s ease 50ms;
  outline: 0;
  border: 2px solid var(--basic-black);
  border-bottom: none;
}

.search__button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search__button:active {
  color: var(--special-white-a3);
  background-color: var(--basic-black);
}


/* user */
.user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.user__item {
  margin-right: 20px;
}

.user__link {
  line-height: 20px;
}

.user__link:visited {
  color: var(--basic-black);
}

.user__link:hover {
  color: var(--special-black-a6);
}

.user__link:active {
  color: var(--special-black-a3);
}

.user__link--logout {
  color: var(--special-black-a3);
}


/* site-function */
.site-function {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.site-function__item {
  margin-left: 40px;
}

.site-function__link {
  line-height: 20px;
}

.site-function__link:visited {
  color: var(--basic-black);
}

.site-function__link:hover {
  color: var(--special-black-a6);
}

.site-function__link:active {
  color: var(--special-black-a3);
}


/* menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.menu__item--catalog {
  width: 540px;
}

.menu__item--delivery {
  width: 160px;
}

.menu__item--warranty {
  width: 110px;
}

.menu__item--contacts {
  width: 230px;
  text-align: right;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.menu__link--open::after {
  content: url("../img/icon_plus.svg");
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 12px;
  margin-left: 16px;
}

.menu__link {
  color: var(--basic-black);
}

.menu__link:visited {
  color: var(--basic-black);
}

.menu__link:hover {
  color: var(--special-black-a6);
}

.menu__link:active {
  color: var(--special-black-a3);
}

/* catalog-menu*/
.wrapper-catalog-menu {
  display: none;
  max-height: 146px;
  padding-top: 2px;
  background-color: var(--special-yellow);
  z-index: 2;
}

.menu__link--catalog:hover + .wrapper-catalog-menu {
  display: block;
}

.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  margin-top: 25px;
  padding-left: 0;
  list-style: none;
}

.catalog-menu__item {
  display: flex;
  flex-direction: column;
  height: 135px;
}

.catalog-menu__link {
  margin-bottom: 16px;
  margin-right: 63px;
  line-height: 20px;
}

.catalog-menu__link:last-child {
  margin-right: 0;
}


.catalog-menu__link {
  color: var(--basic-black);
}

.catalog-menu__link:hover {
  color: var(--special-black-a6);
}

.catalog-menu__link:active {
  color: var(--special-black-a3);
}


/* main */
.main {

}


/* promo */
.promo {
  position: relative;
  top: -10px;
  height: 506px;
  padding-right: 60px;
  padding-left: 65px;
  margin-bottom: 96px;
  background-image: linear-gradient(var(--special-yellow) 145px, var(--basic-white) 145px);
  z-index: -1;
}

.promo__slider {
  max-height: 506px;
  overflow: hidden;
}

/* slider */
.slider {
  padding-left: 25px;
  padding-right: 25px;
}

.slider__toggle {
  position: absolute;
  top: 340px;
  right: 88px;
}

.slider__list {
  list-style: none;
  padding-left: 0;
}

.slider__item {
  display: grid;
  grid-template-columns: 510px 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "photo title"
    "photo text"
    "photo link"
    "photo description";
  margin-bottom: 5px;
}

.slider__photo {
  grid-area: photo;
}

.slider__title {
  grid-area: title;
  align-content: start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 47px;
  line-height: 58px;
}

.slider__title::before {
  content: " ";
  display: block;
  width: 100px;
  height: 7px;
  margin-top: 35px;
  margin-bottom: 52px;
  background-color: var(--basic-white);
}

.slider__text {
  grid-area: text;
  margin: 0;
}

.slider__link {
  grid-area: link;
  width: 220px;
}

.slider__description {
  grid-area: description;
  align-self: end;
}


/* toggle*/
.toggle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 72px;
  padding-left: 0;
  list-style: none;
}

.toggle__item {
  display: inline-block;
  line-height: 12px;
}

.toggle__button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-size: cover;
}

.toggle__button--checked::before {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}


/* item-desc */

.item-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: end;
  width: 444px;
  margin-left: 5px;
  padding: 0;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  list-style: none;
}

.item-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item-detail__text {
  padding-bottom: 5px;
}

.item-detail__text--value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.item-detail__text--feature {
  font-size: 13px;
  line-height: 15px;
}

/* popular */
.popular {
  margin-bottom: 65px;
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  list-style: none;
  padding-left: 0;
}

.popular__link {
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.popular__link::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-yellow-light);
}

.popular__link:hover::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-dark);
}


/* service */
.wrapper-service {
  margin-bottom: 85px;
  height: 403px;
  /*background-image: linear-gradient(var(--basic-white) 115px, var(--basic-grey-light) 115px, var(--basic-grey-light) 115px);
  z-index: -9999;*/
}

.service {
  display: grid;
  grid-template-columns: 285px 800px;
  grid-auto-flow: column;
  gap: 115px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 285px;
  height: 320px;
  margin-top: 10px;
  padding-top: 80px;
  padding-left: 0px;
  border-right: 7px solid var(--basic-black);
  list-style: none;
}

.service__item {
  width: 278px;
  height: 40px;
  margin-bottom: 22px;
}

.service__button {
  width: 160px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0 20px;
}

.service__item--checked {
  background-color: var(--basic-black);
}

.service__button--checked {
  color: var(--special-yellow);
}

.service__button:active {
  color: var(--special-yellow);
}


.service__button::before {
  top: 15px;
}

.service__button:active::before {
  content: " ";
  width: 277px;
  background-color: var(--basic-black);
}

.service__description {
  height: 403px;
  padding-top: 35px;
  overflow: hidden;
}

.service__description-headline {
  margin-bottom: 40px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service__description-text {
  letter-spacing: 0.1em;
}


/* logotypes */
.logotypes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 0;
  list-style: none;
}

.logotypes__image {
  filter: grayscale(100%) opacity(15%);
}

.logotypes__link:hover > .logotypes__image {
  filter: grayscale(0) opacity(100%);
}

/* wrapper-about-contacts */
.wrapper-about-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-bottom: 56px;
}


/* about */
.about {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.about__title {
  margin-bottom: 20px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about__text {
  margin-bottom: 20px;;
}

.about__partner-list {
  margin-top: 40px;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}

.about__partner-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.about__more {
  width: 260px;
  margin-top: auto;
  margin-bottom: 5px;
}

/* contacts */
.contacts__title {
  margin-bottom: 20px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts__text {
  margin-bottom: 40px;
}

.contacts__map {
  display: block;
  margin-bottom: 85px;
}

.contacts__more {
   width: 260px;
  margin-top: auto;
  margin-bottom: 5px;
}


/* footer */
.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-container {
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-template-rows: 65px 35px 65px 165px;
  grid-template-areas:
    ". footer__user footer__site-function"
    "footer__logo . ."
    "footer__address footer__menu footer__telephone"
    ". footer__social footer__copyright";
}

.footer__logo {
  grid-area: footer__logo;
  align-self: center;
}

.footer__user {
  grid-area: footer__user;
  align-self: end;
  justify-self: end;
}

.footer__user .user__link {
  color: var(--special-white-a7);
}

.footer__user .user__link:visited {
  color: var(--special-white-a7);
}

.footer__site-function {
  grid-area: footer__site-function;
  align-self: end;
  justify-self: end;
}

.footer__site-function .site-function__link {
  color: var(--special-white-a7);
}

.footer__site-function .site-function__link:visited {
  color: var(--special-white-a7);
}


.footer__address {
  grid-area: footer__address;
  align-self: end;
  margin-bottom: 0;
}


.footer__menu {
  grid-area: footer__menu;
  align-self: end;
}

.menu--footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
}


.footer__menu .menu__link {
  color: var(--basic-white);
}

.footer__menu .menu__link:visited {
  color: var(--basic-white);
}

.footer__menu .menu__link:hover {
  color: var(--special-white-a6);
}

.footer__menu .menu__link:active {
  color: var(--special-white-a3);
}


.footer__telephone {
  grid-area: footer__telephone;
  align-self: end;
  justify-self: end;
  margin-bottom: 0;
  color: var(--basic-white);
}

.footer__social {
  grid-area: footer__social;
  align-self: center;
  justify-self: center;
}


.footer__copyright {
  grid-area: footer__copyright;
  align-self: center;
  justify-self: end;
}

.footer__copyright:hover {
  opacity: 0.6;
}

.footer__copyright:active {
  opacity: 0.3;
}

/* social */
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 136px;
  padding: 0;
  list-style: none;
}

.social__link:hover {
  opacity: 0.3;
}

.social__link:active {
  opacity: 0.1;
}

/* =catalog= */
/* catalog-main */
.catalog-page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-main {

}

.catalog-main__title {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 60px;
  font-size: 47px;
  line-height: 58px;
}

/* breadcrumbs */
.catalog-main__breadcrumbs {
  margin: 0;
  padding-left: 60px;
  padding-bottom: 50px;
}

.breadcrumbs {
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.breadcrumbs__link {
  color: var(--special-black-a3);
}

.breadcrumbs__link[href]:hover {
  color: var(--special-black-a6);
}

.breadcrumbs__link[href]:active {
  color: var(--special-black-a1);
}

.wrapper-form-catalog {
  display: flex;
  flex-wrap: wrap;
}

/* form */
.form {
  display: grid;
  grid-template-columns: 60px 270px;
  grid-template-rows: 70px auto;
  gap: 70px 0;
  background-color: var(--basic-grey-light);
  margin-right: 75px;
}

.form__header {
  grid-column: 1 / span 2;
  background-color: var(--basic-grey-dark);
}

.form__title {
  margin-left: 60px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form__filter {
  grid-column: 2;
  max-width: 200px;
}

/* filter */
.filter__submit {
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 14px;
}


/* catalog */
.catalog {
  display: grid;
  grid-template-columns: 200px min-content;
  grid-template-rows: 70px 1fr 70px 78px;
  gap: 40px 0;
  background-image: linear-gradient(var(--basic-grey-light) 70px, var(--basic-white) 70px);
}

.catalog__sorting {
  grid-column: 1 / span 2;
}

.catalog__display {
  grid-column: 1 / span 2;
}

.catalog__pagination {
  grid-column: 1 / span 2;
  padding-bottom: 78px;
  background-color: var(--special-grey);
}


.catalog__products {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  grid-template-rows: repeat(2, 502px);
  gap: 0 40px;
  margin: 0;
  padding-left: 0;
  padding-top: 30px;
  list-style: none;
}


/* sorting */
.sorting {
  margin-bottom: 0;
}

.sorting__title {
  margin-top: 25px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.sorting__link {
  font-family: "Opens Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--special-black-a3);
}

.sorting__link[href]:hover {
  color: var(--special-black-a6);
}

.sorting__link:active {
  color: var(--basic-black);
}

.sorting__link:focus {
  color: var(--basic-black);
}

.sorting__link--current {
  color: var(--basic-black);
}


.sorting__arrows {
  list-style: auto;
}

.sorting__arrow-link {
  opacity: 0.2;
}

.sorting__arrow-link:hover {
  opacity: 0.4;
}

.sorting__arrow-link:active {
  opacity: 1;
}

.sorting__arrow-link:focus {
  opacity: 1;
}

.sorting__arrow-link--up::before{
  content: url("");
  width: 10px;
  height: 10px;
}

.sorting__arrow-link--down::before{
  content: url("");
  width: 10px;
  height: 10px;
}

.sorting__arrow-link--active {
  opacity: 1;
}


.product {
  gap: 30px 0;
  width: 360px;
  height: 380px;
  position: relative;
}

.product:hover::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--special-grey-lighter);
}

.product__buttons-container {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 180px;
  margin-left: 55px;
  z-index: 1;
  text-align: center;
}

.product:hover > .product__buttons-container {
  visibility: visible;
}


.product__link {
  color: var(--basic-black);
}

.product__link--move-to-cart {
  width: 220px;
 }

.product__link--move-to-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--special-black-a5);
}

.product__link--move-to-compare:hover {
  color: var(--basic-black);
}

.product__link--move-to-compare:active {
  color: var(--special-black-a2);
}

.product__image {

}

.product__title {
  margin: 0;
  font-size: 18px;
  line-height: 22px ;
  letter-spacing: 0.05em;
}

.product__price {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}


.pagination {
  list-style: none;
  padding-left: 0;
  min-height: 70px;
  max-width: 760px;
  background-color: var(--special-grey);
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  display: inline-block;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:0.1em;
  text-transform: uppercase;
  color: var(--special-black-a3);
 }

.pagination__link[href]:not(.pagination__link--next):hover{
  color: var(--special-black-a6);
}

.pagination__link:active{
  color: var(--basic-black);
}

.pagination__link--current {
  color: var(--basic-black);
}

.pagination__link--prev {
  padding: 25px 30px;
  color: var(--basic-black);
}

.pagination__link--prev:hover {
  background-color: var(--special-grey-light);
}

.pagination__link--prev:active {
  color: var(--special-black-a3);
}

.pagination__link--next {
  padding: 25px 30px;
  color: var(--basic-black);
}

.pagination__link--next:hover {
  background-color: var(--special-grey-light);
  color: var(--basic-black);
}

.pagination__link--next:active {
  color: var(--special-black-a3);
}
